.experience{
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    background-color: #ecb0ec;
    padding: 8%;
    color:black;
    text-align: center;
    position: relative;
}

.line {
    width: 2px; /* Adjust the width to control the thickness of the line */
    height: 60vh; /* Adjust the height of the line */
    background-color:purple; /* Adjust the background color as needed */
    position: absolute;
    top: 51%; /* Adjust the vertical position of the line */
    left: 5%; /* Adjust the horizontal position of the line */
    transform: translate(-50%, -50%) rotate(180deg); 
  }

.experience--section{
    margin-top: 2%;
    width: 100%;
    font-weight: bolder;
}

.experience--section ul{
    padding-left:2%;
    list-style-type: none;
}

@media screen and (max-width: 768px){
    .experience{
        height: 70vh;
    }

    .line {
        width: 2px; /* Adjust the width to control the thickness of the line */
        height: 60vh; /* Adjust the height of the line */
        background-color:black; /* Adjust the background color as needed */
        position: absolute;
        top: 43%; /* Adjust the vertical position of the line */
        left: 5%; /* Adjust the horizontal position of the line */
        transform: translate(-50%, -50%) rotate(180deg); 
      }
}